.container {
    margin: 20px auto;
    width: 80%;
    color: aliceblue;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
}

.user-table th,
.user-table td {
    border: 1px solid #0e3169;
    padding: 8px;
    text-align: left;
    background-color: black;
}

.user-table th {
    background-color: #000000;
}

.user-table td {
    padding-top: 12px;
    padding-bottom: 12px;
}

.action-button {
    margin-right: 10px;
}

.no-data {
    text-align: center;
    font-style: italic;
    color: #888;
}
