.container {
    width: 800px;
    overflow-x: auto;
    color: #888;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
}

.user-table th,
.user-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    width: 33.33%; /* Set equal width for each column */
}

.action-button {
    margin-right: 5px;
}

.no-data {
    text-align: center;
    font-style: italic;
    color: #888;
}
 