.container {

    margin: 20px auto;
    width: 80%;
    color: aliceblue;
    width: 800px;
    overflow-x: auto;
    color: #888;

}

.user-table {
    width: 100%;
    border-collapse: collapse;
}

.user-table th,
.user-table td {
    border: 1px solid #0e3169;
    padding: 8px;
    text-align: left;

    background-color: black;
}

.user-table th {
    background-color: #000000;
}

.user-table td {
    padding-top: 12px;
    padding-bottom: 12px;

    width: 33.33%; /* Set equal width for each column */

}

.action-button {
    margin-right: 5px;
}

.no-data {
    text-align: center;
    font-style: italic;
    color: #888;
}
 